<div class="wrap">

    {# {% if core_alerts|length > 0 %}
        {% for alert in core_alerts %}
            {{ alert|raw }}
        {% endfor %}
    {% endif %} #}

    {% block alerts %}{% endblock %}

    <div class="ready-plugin">
        <header class="ready-plugin">
            <h1>Ready! Grid-Gallery</h1>
        </header>
        <section class="ready-content">
            <nav class="ready-navigation">
                <ul>
                    <li>
                        <a id="btn-add-new" href="{{ environment.generateUrl('galleries') }}#add">
                            <i class="fa fa-plus-circle"></i>
                            {{ environment.translate('New Gallery') }}
                        </a>
                    </li>
                    <li {% if request.query.module == 'galleries' or request.query.module is null %}class="active"{% endif %}>
                        <a href="{{ environment.generateUrl('galleries') }}">
                            <i class="fa fa-archive"></i>
                            {{ environment.translate('Galleries') }}
                        </a>
                    </li>
                    <li {% if request.query.module == 'photos' %}class="active"{% endif %}>
                        <a href="{{ environment.generateUrl('photos') }}">
                            <i class="fa fa-picture-o"></i>
                            {{ environment.translate('Images') }}
                        </a>
                    </li>
                    <li {% if request.query.module == 'insta' %}class="active"{% endif %}>
                        <a href="{{ environment.generateUrl('insta') }}">
                            <i class="fa fa-instagram"></i>
                            {{ environment.translate('Instagram') }}
                        </a>
                    </li>
                    <li {% if environment.isPro() == false %} class="ready-pro" {% endif %} {% if request.query.module == 'flickr' %}class="active"{% endif %}>
			            {% if environment.isPro() == false %}
                            <a href="http://readyshoppingcart.com/product/grid-gallery-wordpress-plugin-ready/?utm_source=pro&utm_medium=flickr&utm_campaign=grid">
				                <i class="fa fa-unlock"></i>
                                {{ environment.translate('Flickr') }}
                            </a>
			            {% else %}
                            <a href="{{ environment.generateUrl('flickr') }}">
                                <i class="fa fa-flickr"></i>
                                {{ environment.translate('Flickr') }}
                            </a>
                        {% endif %}
                    </li>
                    <li {% if request.query.module == 'settings' %}class="active"{% endif %}>
                        <a href="{{ environment.generateUrl('settings') }}">
                            <i class="fa fa-gear"></i>
                            {{ environment.translate('Settings') }}
                        </a>
                    </li>
                    {% if environment.isPro() == false %}
                        <li class="ready-pro">
                            <a href="http://readyshoppingcart.com/product/grid-gallery-wordpress-plugin-ready/?utm_source=pro&utm_medium=getpro&utm_campaign=grid">
                                <i class="fa fa-unlock"></i>
                                {{ environment.translate('Get PRO') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <div class="ready-container">
                {% block content %}{% endblock %}
                <div class="clear"></div>
            </div>
        </section>
    </div>

    <!-- Modal loading overlay -->
    <div class="gg-modal-loading-overlay"></div>
    <div class="gg-modal-loading-object">
        <p>
            <span id="loading-text">Loading</span>
            <img src="{{ environment.config.get('admin_url') ~ '/images/wpspin_light.gif' }}" alt=""
                 title="{{ environment.translate('Loading') }}"/>
        </p>
    </div>

    {% block notes %}{% endblock %}
</div>
